// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: auto;
  width: 1200px;
  text-align: center;
}

.wood-background {
  background-image: image-url('backround_pattern.png');
}

.wood-separator {
  background-image: image-url('wood_separator.jpg');
  height: 33px;
}

.main-logo {
  padding: 90px 0;
}

.offers {
  padding-top: 25px;
  padding-bottom: 10px;

  .offers-logo {
    margin-bottom: 10px;
  }
}

.banner {
  & > .banner-img {
    display: block;
  }
}

.previews {
  padding: 35px 0;
  background: #D94521;

  & > .preview-img {
    display: inline-block;
    position: relative;
    margin: 0 25px;

    img {
      display: block;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      -moz-box-shadow: inset 10px 10px 49px #000000;
      -webkit-box-shadow: inset 10px 10px 49px #000000;
      box-shadow: inset 10px 10px 49px #000000;
    }
  }
}

.social-buttons {
  margin-top: -30px;
}

.button {
  display: inline-block;
  width: 90px;
  height: 75px;
  padding-top: 75px;
  margin: 0 20px 50px 20px;

  &:hover {
    background-repeat: no-repeat;
  }

  &.contact:hover {
    background-image: image-url('buttons/contact_text.png');
  }

  &.youtube:hover {
    background-image: image-url('buttons/youtube_text.png');
  }

  &.instagram:hover {
    background-image: image-url('buttons/instagram_text.png');
  }

  &.facebook:hover  {
    background-image: image-url('buttons/facebook_text.png');
  }
}

.bottom-logo {
  padding-bottom: 30px;
}

.copyright {
  padding-bottom: 30px;
}
